:root {
  --bg: #ffffff;
  --panel: #111111;
  --muted: #cfcfcf;
  --accent: #646cff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--muted);
  background-color: var(--bg);
}
body, html {
  margin: 0;
  padding: 0;
  
}
.main-container {
  width: 100%;
  height: 300rem;
  background-color: var(--bg);
}